/* Chat App Overall Layout */
.chatApp {
  display: flex;
  height: 100%;
}

/* Overall Chat Layout */
.chatLayout {
  display: flex;
  flex-direction: column;
  height: 85vh;
  border: none;
}

/* Search and Conversations Section */
.searchAndConversations {
  flex: 1; /* Adjust this value as needed, e.g., flex: 1 means it takes up 1 fraction of the space */
  display: flex;
  flex-direction: column;
  border-right: 1px solid #cccccc3d;
}

/* Search Section */
.searchUser {
  padding: 10px;
  border: none;
}

.searchInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.searchResults {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.userItem {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f7f7f7;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.userItem:hover {
  background-color: #e8e8e8;
}

/* Conversations List */

.conversations {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.conversationItem {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f7f7f7;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.conversationItem:hover {
  background-color: #040039c7;
}

.conversationItem.selected {
  background-color: #040039;
}

.conversationItem:hover h3,
.conversationItem.selected h3 {
  color: white;
}

.conversationItem:hover p,
.conversationItem.selected p {
  color: rgb(245, 245, 245);
}

.conversation {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.conversationID {
  display: flex;

  align-items: center;
}

.conversationLastmessage {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin-left: 65px;
}

.conversations img {
  width: 50px; /* Small profile image */
  height: 50px; /* Keep the aspect ratio */
  border-radius: 50%; /* Circular profile images */
  object-fit: cover; /* Ensures the image covers the area nicely */
  margin-right: 15px; /* Space between image and text */
}

.conversations h3 {
  color: #333; /* Dark grey color for the name */
  font-size: 1.1rem; /* Medium font size for the name */
}

.conversations p {
  margin: 0;
  color: #666; /* Lighter grey color for the message text */
  font-size: 1rem; /* Slightly smaller font size for the message */
}

/* Conversation Area */
.conversationArea {
  flex: 3; /* Adjust this value as needed, e.g., flex: 3 means it takes up 3 fractions of the space */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: space-between; /* Align children to start and end */
}

.conversationHeader {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9; /* or any other color */
  border: none;
}

.conversationHeader img {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  margin-right: 15px;
}

.conversationHeader span {
  font-weight: bold;
  color: #333;
}

.conversationHeader button {
  margin-left: auto;
  border: none;
  background-color: #f9f9f9;
  font-weight: bold;
  text-decoration: underline;
}

.messagesArea {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px; /* Adjust as needed */
}

.messagesArea {
  flex-grow: 1; /* Allow the messages area to grow and fill the space */
  overflow-y: auto; /* Add scroll to messages area */
}

.chat {
  display: flex;
  flex-direction: column;
  height: 85vh;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/*Order Management Area*/

.orderManagementArea {
  width: 30vw;
  overflow: scroll;
}

/* Chat Info Section */
.chatInfo {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #f1f1f1;
  background-color: #f9f9f9;
  position: sticky;
  position: -webkit-sticky;
  z-index: 1000;
}

.chatInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px; /* Space between image and text */
  object-fit: cover;
}

.chatInfo span {
  font-size: 1.2rem;
  font-weight: 500;
  color: #040039; /* primary color */
  flex-grow: 1; /* Ensure the username takes the remaining space */
}
/* Messages Area */
.message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.message.owner {
  justify-content: flex-end; /* Aligns the sender's messages to the right */
}

.message:not(.owner) {
  justify-content: flex-start; /* Aligns the receiver's messages to the left */
  background-color: #fff; /* Background color for the recipient's messages */
}

.messageContent {
  max-width: 60%; /* Adjust as needed */
  padding: 5px 10px; /* Adjust as needed */
  border-radius: 10px; /* Adjust as needed */
  margin: 5px; /* Adjust as needed */
}

.messagesContainer-nomessages,
.conversationArea-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px auto 300px auto;
  width: 40vw;
  height: 40vh;
}

.messagesContainer-nomessages p,
.conversationArea-div p {
  font-weight: 400;
  font-size: 1.2rem;
  border: none;
  flex-wrap: wrap;
  margin-top: 10px;
}

.icon-container-comments {
  margin-bottom: 10px;
}

.messageImage {
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
  object-fit: contain;
  margin: 10px;
}

.profilePic {
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  border-radius: 50%; /* Circular shape */
  object-fit: cover; /* Ensures the image covers the area nicely */
}

.message.owner .messageContent {
  background-color: #dcf8c6; /* Light green background for sender */
}

.message:not(.owner) .messageContent {
  background-color: #f9f9f9; /* White background for receiver */
}

/* User image */

/* Input area */
.input {
  display: flex;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #f1f1f1;
  background-color: rgba(227, 227, 227, 0.286);
  position: relative;
  margin-top: 50px;
}

.input input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  outline: none;
}

.input button:hover {
  background-color: darken(#040039, 10%);
}

.input label {
  cursor: pointer;
}

.place-order-chat button {
  padding: 15px 15px;
  background-color: #040039;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 100px;
  left: 350px;
  margin-top: 50px;
}

.send {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.send button {
  padding: 15px 15px;
  margin-left: 15px;
  background-color: #040039; /* primary color */
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.file-preview {
  padding: 10px;
  margin-top: 10px;
  border-top: 1px solid #ccc;
}

.file-preview div {
  margin-bottom: 5px;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  padding: 20px;
  background: white;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modalContent img {
  max-width: 80vw;
  max-height: 80vh;
  margin-bottom: 5px;
}

.modalContent button {
  background-color: #040039;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 5px;
  margin: 0 auto;
  font-size: 1rem;
}
